.footer{
  //padding: 2em 0;
  //border:solid black 4px;
  background: #f5f7f9  ;
  display: block;
  margin: auto;
  &__container{
   // border: solid peru 4px;
    display: block;
    margin: auto;
    margin: 0 0;

    &__logo{
     // border: solid 2px yellowgreen;
      &__image{
        padding: 1em 0;
        display: block;
        margin: auto;
        width: 4.1em;
      }
    }
    &__items{
     // border: solid 3px yellow;
      display: block;
      margin: auto;
      padding: 1em 0;
    
    }
    &__redes{
     // border: solid 4px yellowgreen;
      padding: 0vw 24vw ;
      padding: 2em 2em;
      display: flex;
      justify-content: space-around;
    }
  }
}
.footer-link{
    display: block;
    margin: auto;
    color:var(--DarkGrayishBlue);
    text-decoration: none;
    font-size: .85em;
    text-align: center;
    font-weight: 600;
    margin: 1em 0;
  //  border: solid blue 2px;

 
}


@media (min-width:768px){
  .footer{
    padding:0 0 0 0;
    &__container{
      padding: 0;
    //border: solid blue 2px;
      min-width: 100vw;
      display: flex;
      justify-content: space-between;
  
      &__logo{
        min-width: 20vw;
      // border: solid 2px yellowgreen;
       margin:2em 0;
        &__image{
         // border: solid 2px blue;
          display: block;
          margin: auto;
          padding:1em 0;
          width: 4em;
        }
      }
      &__items{
       // border: solid 8px yellow;
        display: inline-block;
        margin:2em 0;
        padding:0;
        min-width: 40vw;
        &__wapper{
         // border:  blue 3px solid;
          display: flex;
          flex-wrap: nowrap;
          justify-content:start;
          &__links{
           // border: blue 5px solid;
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content:start;
           
          }
        } 
      }
      &__redes{
        display: flex;
        width: 40vw;
        padding: 1em 1em;
        margin:2em 0;
        display: flex;
        justify-content:space-around;
        flex-direction: row;
      
       
      }
    }
  }


  .footer-link{
   //@function border: solid rgb(230, 147, 24) 2px;
    display:inline-block;
    text-align: left;
    font-size: 1em;
    padding: .4em 1em .4em 0;
    margin: 0 1em;
  
    }

    .footer-images{
     // border: solid 2px black;
      padding: 2em 0;
        &__img{
          //border: solid 2px red;
          width: 1.4em;
          
        } 
    }
     
}
@media (min-width:1024px){
  .footer{
    &__container{
      &__redes{
        padding: 1em 5em;
       
      }
    }
  }
  .footer-images{
    
       &__img{
         //border: solid 2px red;
         width: 1.6em;
         
       } 
   }

} 

@media (min-width:1440px){
  .footer{
    &__container{
      &__redes{
        padding: 1em 10em;
       
      }
    }
  }
  .footer-images{
    // border: solid 2px black;
     padding: 2em 0;
       &__img{
      //   border: solid 2px red;
         width: 2.2em;
         
       } 
   }

}  