/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Strong Cyan: hsl(171, 66%, 44%)
- Light Blue: hsl(233, 100%, 69%)

### Neutral

- Dark Grayish Blue: hsl(210, 10%, 33%)
- Grayish Blue: hsl(201, 11%, 66%) */


:root{
  /* Primary */
 --StronCyan: hsl(171, 66%, 44%);
 --LightBlue: hsl(233, 100%, 69%);   
   /* Neutral */
--DarkGrayishBlue: hsl(210, 10%, 33%);
--GrayishBlue: hsl(201, 11%, 66%);

 font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;

}

*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 overflow-x: hidden;
}

@import './landing.scss';
@import './keep.scss';
@import './acces.scss';
@import './workflow.scss';




  .main{
    // border:solid red 2px; 
     max-width: 100vw;
     background-color:#fafafa;
    }
    
    .wapper{
//border:solid 1px yellowgreen;
     margin: 0 1.6em;
    }
    
    @mixin title {
      text-align: center;
      color:var(--DarkGrayishBlue);
    
    }
    @mixin copy{
      text-align: center;
      // border:solid green 2px; 
      color: var(--GrayishBlue);
      font-size: .88em;
      line-height: 1.4em;
    }
    @mixin boton{
     display: block;
     margin:auto;
     border-radius: 30px;
     color: white;
     padding:1em 5.5em;
     font-weight: 600;
     border: none;
    }
    .boton{
      //border:solid 2px red;
      padding: 0;
      display: block;
      margin: auto;
        &__ios{
          @include boton;
          background-color: var(--StronCyan);
          font-size: .88em;
          margin-bottom: 1.2em;
          margin-top: 2.4em;
          box-shadow: -0.1px 10px 40px -19px  var(--StronCyan); 
        }
        &__mac{
          @include boton;
          background-color: var(--LightBlue);
          font-size: .88em;
          margin-top: 1.2em;
          box-shadow: -0.1px 10px 40px -19px  var(--LightBlue); 
        } 
    }
    .title {
      &__h1{
       
        @include title;
        font-size: 1.65em;
      }
      &__h2{
        @include title;
        margin-bottom: 1em;
        font-size: 1.6em;;
      }
      &__h3{
        @include title;
        font-size: 1.1em;
       
    
      }
      &__workflow{
        @include title;
        font-size: 1.1em;
        display: block;
        margin: auto;
       // border:solid 2px red;
      }
      
    }
    .copy{
      &__p_landing{
        @include copy;
        font-size: .88em;
      }
      &__p_keep{
        @include copy;
        font-size: .88em;
        font-weight: 300;
        line-height: 1.6em;
        &__2{
          @include copy;
          padding:0 .5em;
          //border:solid 2px blue;
        }
        //border:solid yellowgreen 2px;
        }
      }

      .copy{
        &__p{
          &__workflow{
            @include copy;
            text-align: center;
            font-size: em;
           // border:solid 2px black;
    
          }
        }
      }

    
/////////////////////////////////////////////


@media (min-width: 768px){
  .article{
    width: 48vw;
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 4.5em;
    border: solid red 2px;
  }
  .title {
    &__h1{
      @include title;
      font-size: 2.1em;
    }
    &__h2{
      @include title;
      font-size: 2.1em;
    }
    &__h3{
      @include title;
      text-align: left;
      font-size: 1.45em;
     
  
    }
    &__workflow{
      @include title;
      font-size: 1.35em;
      display: block;
      margin: auto;
     // border:solid 2px red;
    }
    
  }
  .copy{
    &__p_landing{
      @include copy;
      font-size: 1em;
    }
    &__p_keep{
          @include copy;
          font-size: 1.1em;
          font-weight: 300;
          line-height: 1.6em;
          &__2{
            @include copy;
            text-align: left;
            font-size: 1em;
            padding:0 .5em;
          // border:solid 2px blue;
          
          }
    
    
      }
    
  } 
  @mixin boton2{
    display: block;
    margin:auto;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    border: none;
   }
  .boton{
    border:solid yellowgreen 2px;
    padding: 2em 6em 5em 6em;
    display: flex;
    justify-content: space-between;
   // flex-direction: row;
   &__ios{
      @include boton2;
      padding:.8em 2em;
      font-size: 1em;
      background-color: var(--StronCyan);
      box-shadow: -0.1px 10px 40px -19px  var(--StronCyan);    
      
   }
   &__mac{
     @include boton2;
     padding:.8em 2em;
     font-size: 1em;
      background-color: var(--LightBlue);
      box-shadow: -0.1px 10px 40px -19px  var(--LightBlue); 
     
     
   }
 }
}
@media (min-width:820px){
  .boton{
    border:solid yellowgreen 2px;
    padding: 2em 8em 5em 8em;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width:950px){
  .boton{
    border:solid yellowgreen 2px;
    padding: 2em 11em 5em 11em;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1024px){
  .main{
    display: block;
    margin: auto;
    min-width: 100vw;
    max-width: 100vw;
//border:solid 3px black;
  }
  .wapper{
    margin:0em 0em;
    padding: 0em 0em;
  }
  .article{
    width: 48vw;
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 4.5em;
  }

  @mixin title {
    text-align: center;
    color:var(--DarkGrayishBlue);
  
  }
  @mixin copy{
    text-align: center;
    // border:solid green 2px; 
    color: var(--GrayishBlue);
    font-size: .88em;
    line-height: 1.4em;
  }
  @mixin boton2{
   display: block;
   margin:auto;
   border-radius: 30px;
   color: white;
   font-weight: 600;
   border: none;
  }
  .title {
    &__h1{
      @include title;
      font-size: 2.8em;
    }
    &__h2{
      @include title;
      font-size: 2.1em;
    }
    &__h3{
      @include title;
      text-align: left;
      font-size: 1.45em;
     
  
    }
    &__workflow{
      @include title;
      font-size: 1.35em;
      display: block;
      margin: auto;
     // border:solid 2px red;
    }
    
  }
  .copy{
    &__p_landing{
      @include copy;
      font-size: 1.3em;
    }
    &__p_keep{
      @include copy;
      font-size: 1.1em;
      font-weight: 300;
      line-height: 1.6em;
      &__2{
        @include copy;
        text-align: left;
        font-size: 1em;
        padding:0 .5em;
       // border:solid 2px blue;
      
      }
     
     
      }
    }

    .copy{
      &__p{
        &__workflow{
          @include copy;
          text-align: center;
          font-size: 1em;
         // border:solid 2px black;
  
        }
      }
    }
     .boton{
        // border:solid yellowgreen 2px;
        // border: blue solid 3px;
        padding: 2em 12em 5em 12em;
        display: flex;
        justify-content: space-between;
       // flex-direction: row;
       &__ios{
          @include boton2;
          padding:.8em 2.7em;
          font-size: 1.2em;
          background-color: var(--StronCyan);
          box-shadow: -0.1px 10px 40px -19px  var(--StronCyan);    
          
       }
       &__mac{
         @include boton2;
         padding:.8em 2.7em;
         font-size: 1.2em;
          background-color: var(--LightBlue);
          box-shadow: -0.1px 10px 40px -19px  var(--LightBlue); 
         
         
       }
     }

 
}

@media(min-width:1200px){
  .boton{
    // border:solid yellowgreen 2px;
    // border: blue solid 3px;
    padding: 2em 18em 5em 18em;
    display: flex;
    justify-content: space-between;
  }
}
@media(min-width:1300px){
  .boton{
    // border:solid yellowgreen 2px;
    // border: blue solid 3px;
    padding: 2em 24em 5em 24em;
    display: flex;
    justify-content: space-between;
  }
}
