/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Strong Cyan: hsl(171, 66%, 44%)
- Light Blue: hsl(233, 100%, 69%)

### Neutral

- Dark Grayish Blue: hsl(210, 10%, 33%)
- Grayish Blue: hsl(201, 11%, 66%) */
:root {
  /* Primary */
  --StronCyan: hsl(171, 66%, 44%);
  --LightBlue: hsl(233, 100%, 69%);
  /* Neutral */
  --DarkGrayishBlue: hsl(210, 10%, 33%);
  --GrayishBlue: hsl(201, 11%, 66%);
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.landing {
  border: solid black 4px;
  max-height: 100vh;
  max-width: 100vw;
  padding-bottom: 4em;
}
.landing__fondo {
  background: url("../../public/images/bg-header-mobile.png") center no-repeat;
  background-size: 767px;
  box-shadow: 0px -20px 20px inset #fafafa;
}
.landing__fondo__logo {
  width: 14vh;
  display: block;
  margin: auto;
  padding: 6.6em 0 3em 0;
}
.landing__article {
  margin: 1em 0;
}

@media (min-width: 768px) {
  .landing {
    display: block;
  }
  .landing__fondo {
    background: url("../../public/images/bg-header-Desktop.png") no-repeat;
    background-size: cover;
    box-shadow: 0px -100px 100px inset #fafafa;
  }
  .landing__fondo__logo {
    width: 18vh;
    display: block;
    margin: auto;
    padding: 9em 0 4em 0;
  }
  .landing__article {
    width: 51vw;
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
  }
}
@media (min-width: 768px) {
  .landing__article {
    width: 57vw;
  }
}
.keep {
  border: solid peru 3px;
  padding: 3em 0;
  padding: 4em 0;
}
.keep__mobile {
  display: block;
  margin: auto;
  padding: 3em 0 2em 0;
}
.keep__items__pc {
  display: none;
}
.keep__items__articles__item {
  margin: 0em 0;
  padding: 0 0 2em 0;
}

@media (min-width: 768px) {
  .keep {
    padding: 1em 0;
    display: block;
    margin: auto;
  }
  .keep__mobile {
    display: none;
  }
  .keep__items {
    padding: 0px;
    min-width: 100vw;
    display: flex;
    justify-content: space-betwen;
  }
  .keep__items__pc {
    width: 55%;
    display: inline-block;
  }
  .keep__items__pc__image {
    position: relative;
    left: -2.9em;
    width: 98%;
    height: auto;
  }
  .keep__items__articles {
    width: 45%;
  }
  .keep__items__articles__item {
    margin: 1em 0;
    padding: 0 0 0 2em;
    width: 60%;
  }

  .article-keep {
    width: 48vw;
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 4.5em;
  }
}
@media (min-width: 1024px) {
  .keep__items__articles__item {
    margin: 2em 0;
  }
}
@media (min-width: 1300px) {
  .keep__items__articles__item {
    margin: 5em 0;
  }
}
.acces-clipboard {
  padding: 3em 0;
  border: solid red 3px;
}

.wapper2 {
  margin: 0 1.6em;
}

.images {
  display: block;
  margin: auto;
  padding-top: 3em;
}
.images__large {
  display: none;
}
.images__small {
  padding: 0;
  display: block;
  margin: auto;
  width: 97%;
}

@media (min-width: 768px) {
  .acces-clipboard {
    padding: 3em;
  }

  .images__small {
    display: none;
  }
  .images__large {
    padding: 0;
    display: block;
    margin: auto;
    width: 65vw;
  }
}
.workflow {
  padding: 3em 0;
  border: solid 2px green;
}

.items-images {
  display: block;
  margin: auto;
  padding: 3em 0;
}

.workflow-article {
  text-align: center;
  padding: 0 1.6em;
}

@media (min-width: 768px) {
  .container {
    display: block;
    margin: auto;
  }

  .item-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .list-item {
    padding: 0 12vw;
    display: flex;
    justify-content: space-between;
  }

  .items {
    width: 25vw;
    margin: 2em 1em;
  }

  .logos-items {
    width: 14vw;
    margin: 2em 0;
  }

  .workflow-article {
    text-align: center;
  }
}
.clipboard {
  padding: 3em 0;
}

.footer {
  background: #f5f7f9;
  display: block;
  margin: auto;
}
.footer__container {
  display: block;
  margin: auto;
  margin: 0 0;
}
.footer__container__logo__image {
  padding: 1em 0;
  display: block;
  margin: auto;
  width: 4.1em;
}
.footer__container__items {
  display: block;
  margin: auto;
  padding: 1em 0;
}
.footer__container__redes {
  padding: 0vw 24vw;
  padding: 2em 2em;
  display: flex;
  justify-content: space-around;
}

.footer-link {
  display: block;
  margin: auto;
  color: var(--GrayishBlue);
  text-decoration: none;
  font-size: 0.85em;
  text-align: center;
  font-weight: 600;
  margin: 1em 0;
}

@media (min-width: 768px) {
  .footer {
    padding: 2em 0 0 0;
  }
  .footer__container {
    padding: 0;
    border: solid blue 2px;
    min-width: 100vw;
    display: flex;
    justify-content: space-between;
  }
  .footer__container__logo {
    display: none;
    min-width: 20vw;
    margin: 2em 0;
  }
  .footer__container__logo__image {
    border: solid 2px blue;
    display: block;
    margin: auto;
    padding: 2em 0;
    width: 4em;
  }
  .footer__container__items {
    border: solid 8px yellow;
    display: inline-block;
    margin: 2em 0;
    padding: 0;
    min-width: 40vw;
  }
  .footer__container__items__wapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
  }
  .footer__container__items__wapper__links {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: start;
  }
  .footer__container__redes {
    display: flex;
    border: solid 4px yellowgreen;
    width: 40vw;
    padding: 1em 1em;
    margin: 2em 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .footer-link {
    display: inline-block;
    text-align: left;
    font-size: 1em;
    padding: 0.4em 1em 0.4em 0;
    margin: 0 1em;
  }

  .footer-images {
    padding: 2em 0;
  }
  .footer-images__img {
    width: 2.2em;
  }
}
@media (min-width: 1024px) {
  .footer__container__redes {
    padding: 1em 5em;
  }
}
@media (min-width: 1440px) {
  .footer__container__redes {
    padding: 1em 10em;
  }
}
.main {
  max-width: 100vw;
  background-color: #fafafa;
}

.wapper {
  margin: 0 1.6em;
}

.boton {
  padding: 0;
  display: block;
  margin: auto;
}
.boton__ios {
  display: block;
  margin: auto;
  border-radius: 30px;
  color: white;
  padding: 0.9em 5.5em;
  font-weight: 300;
  border: none;
  background-color: var(--StronCyan);
  font-size: 0.88em;
  margin-bottom: 1.2em;
  margin-top: 2.4em;
  box-shadow: -0.1px 10px 40px -19px var(--StronCyan);
}
.boton__mac {
  display: block;
  margin: auto;
  border-radius: 30px;
  color: white;
  padding: 0.9em 5.5em;
  font-weight: 300;
  border: none;
  background-color: var(--LightBlue);
  font-size: 0.88em;
  margin-top: 1.2em;
  box-shadow: -0.1px 10px 40px -19px var(--LightBlue);
}

.title__h1 {
  text-align: center;
  color: var(--DarkGrayishBlue);
  font-size: 1.65em;
}
.title__h2 {
  text-align: center;
  color: var(--DarkGrayishBlue);
  margin-bottom: 1em;
  font-size: 1.6em;
}
.title__h3 {
  text-align: center;
  color: var(--DarkGrayishBlue);
  font-size: 1.1em;
}
.title__workflow {
  text-align: center;
  color: var(--DarkGrayishBlue);
  font-size: 1.1em;
  display: block;
  margin: auto;
}

.copy__p_landing {
  text-align: center;
  color: var(--GrayishBlue);
  font-size: 0.88em;
  line-height: 1.4em;
  font-size: 0.88em;
}
.copy__p_keep {
  text-align: center;
  color: var(--GrayishBlue);
  font-size: 0.88em;
  line-height: 1.4em;
  font-size: 0.88em;
  font-weight: 300;
  line-height: 1.6em;
}
.copy__p_keep__2 {
  text-align: center;
  color: var(--GrayishBlue);
  font-size: 0.88em;
  line-height: 1.4em;
  padding: 0 0.5em;
}

.copy__p__workflow {
  text-align: center;
  color: var(--GrayishBlue);
  font-size: 0.88em;
  line-height: 1.4em;
  text-align: center;
  font-size: em;
}

@media (min-width: 768px) {
  .title__h1 {
    text-align: center;
    color: var(--DarkGrayishBlue);
    font-size: 2.1em;
  }
  .title__h2 {
    text-align: center;
    color: var(--DarkGrayishBlue);
    font-size: 2.1em;
  }
  .title__h3 {
    text-align: center;
    color: var(--DarkGrayishBlue);
    text-align: left;
    font-size: 1.45em;
  }
  .title__workflow {
    text-align: center;
    color: var(--DarkGrayishBlue);
    font-size: 1.35em;
    display: block;
    margin: auto;
  }

  .copy__p_landing {
    text-align: center;
    color: var(--GrayishBlue);
    font-size: 0.88em;
    line-height: 1.4em;
    font-size: 1em;
  }
  .copy__p_keep {
    text-align: center;
    color: var(--GrayishBlue);
    font-size: 0.88em;
    line-height: 1.4em;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.6em;
  }
  .copy__p_keep__2 {
    text-align: center;
    color: var(--GrayishBlue);
    font-size: 0.88em;
    line-height: 1.4em;
    text-align: left;
    font-size: 1em;
    padding: 0 0.5em;
  }

  .boton {
    padding: 2em 6em 5em 6em;
    display: flex;
    justify-content: space-between;
  }
  .boton__ios {
    display: block;
    margin: auto;
    border-radius: 20px;
    color: white;
    font-weight: 300;
    border: none;
    padding: 0.8em 2em;
    font-size: 1em;
    background-color: var(--StronCyan);
    box-shadow: -0.1px 10px 40px -19px var(--StronCyan);
  }
  .boton__mac {
    display: block;
    margin: auto;
    border-radius: 20px;
    color: white;
    font-weight: 300;
    border: none;
    padding: 0.8em 2em;
    font-size: 1em;
    background-color: var(--LightBlue);
    box-shadow: -0.1px 10px 40px -19px var(--LightBlue);
  }
}
@media (min-width: 820px) {
  .boton {
    padding: 2em 8em 5em 8em;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 950px) {
  .boton {
    padding: 2em 11em 5em 11em;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .main {
    display: block;
    margin: auto;
    min-width: 100vw;
    max-width: 100vw;
  }

  .wapper {
    margin: 0em 0em;
    padding: 0em 0em;
  }

  .article {
    width: 48vw;
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 4.5em;
  }

  .title__h1 {
    text-align: center;
    color: var(--DarkGrayishBlue);
    font-size: 2.8em;
  }
  .title__h2 {
    text-align: center;
    color: var(--DarkGrayishBlue);
    font-size: 2.1em;
  }
  .title__h3 {
    text-align: center;
    color: var(--DarkGrayishBlue);
    text-align: left;
    font-size: 1.45em;
  }
  .title__workflow {
    text-align: center;
    color: var(--DarkGrayishBlue);
    font-size: 1.35em;
    display: block;
    margin: auto;
  }

  .copy__p_landing {
    text-align: center;
    color: var(--GrayishBlue);
    font-size: 0.88em;
    line-height: 1.4em;
    font-size: 1.3em;
  }
  .copy__p_keep {
    text-align: center;
    color: var(--GrayishBlue);
    font-size: 0.88em;
    line-height: 1.4em;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.6em;
  }
  .copy__p_keep__2 {
    text-align: center;
    color: var(--GrayishBlue);
    font-size: 0.88em;
    line-height: 1.4em;
    text-align: left;
    font-size: 1em;
    padding: 0 0.5em;
  }

  .copy__p__workflow {
    text-align: center;
    color: var(--GrayishBlue);
    font-size: 0.88em;
    line-height: 1.4em;
    text-align: center;
    font-size: 1em;
  }

  .boton {
    padding: 2em 12em 5em 12em;
    display: flex;
    justify-content: space-between;
  }
  .boton__ios {
    display: block;
    margin: auto;
    border-radius: 30px;
    color: white;
    font-weight: 300;
    border: none;
    padding: 0.8em 2.7em;
    font-size: 1.2em;
    background-color: var(--StronCyan);
    box-shadow: -0.1px 10px 40px -19px var(--StronCyan);
  }
  .boton__mac {
    display: block;
    margin: auto;
    border-radius: 30px;
    color: white;
    font-weight: 300;
    border: none;
    padding: 0.8em 2.7em;
    font-size: 1.2em;
    background-color: var(--LightBlue);
    box-shadow: -0.1px 10px 40px -19px var(--LightBlue);
  }
}
@media (min-width: 1200px) {
  .boton {
    padding: 2em 15em 5em 15em;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1300px) {
  .boton {
    padding: 2em 18em 5em 18em;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1400px) {
  .boton {
    padding: 2em 24em 5em 24em;
    display: flex;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
